body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: white;
    background-color: black;
}

.recipes-area {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-flow: row wrap;
    max-width: 1200px;
    margin: 20px auto;
    gap: 20px;
    padding: 20px;
    background-color: #000000;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.cards:hover {
    transition: 0.5s ease-in-out;
    transform: translateY(-15px);
    /* animation: rotateCard 2s infinite; */
}
/* @keyframes rotateCard {
    0% {
        transform: rotate(10deg);
    }
    33% {
        transform: rotate(0deg);
    }
    66% {
        transform: rotate(-10deg);
    }
    100% {
        transform: rotate(0deg);
    }
} */